{{template "base" .}}

{{define "title"}}{{.Song.Title}}{{end}}

{{define "nav"}}
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/songs"><span class="material-symbols-outlined align-middle">library_music</span>
                <span>Songs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/config"><span class="material-symbols-outlined align-middle">settings</span>
                <span class="align-middle"></span></a>
        </li>
    </ul>
</div>
{{end}}

{{define "main"}}
<h1>{{.Song.Title}}</h1>
<script>
    // Add a global error event listener early on in the page load, to help ensure that browsers
    // which don't support specific functionality still end up displaying a meaningful message.
    window.addEventListener('error', function (error) {
        send({
            command: "log",
            data: {
                level: "error",
                message: error + ""
            }
        });
        error.preventDefault();
    });
    var ChromeSamples = {
        log: function () {
            var line = Array.prototype.slice.call(arguments).map(function (argument) {
                return typeof argument === 'string' ? argument : JSON.stringify(argument);
            }).join(' ');
            send({
                command: "log",
                data: {
                    level: "info",
                    message: line
                }
            });
            document.querySelector('#log').textContent += line + '\n';
        },
        clearLog: function () {
            document.querySelector('#log').textContent = '';
        },
        setContent: function (newContent) {
            var content = document.querySelector('#content');
            while (content.hasChildNodes()) {
                content.removeChild(content.lastChild);
            }
            content.appendChild(newContent);
        }
    };
    if (/Chrome\/(\d+\.\d+.\d+.\d+)/.test(navigator.userAgent)) {
        // Let's log a warning if the sample is not supposed to execute on this version of Chrome.
        if (89 > parseInt(RegExp.$1)) {
            ChromeSamples.log('Warning! Keep in mind this sample has been tested with Chrome ' + 89 + '.');
        }
    }
    log = ChromeSamples.log;
    window.addEventListener("DOMContentLoaded", async () => {
        if (!("NDEFReader" in window)) {
            ChromeSamples.log("Web NFC is not available. Use Chrome on Android.");
            return
        }
        // try {
        //     const ndef = new NDEFReader();
        //     await ndef.scan();
        //     log("> Scan started");
        //     ndef.addEventListener("readingerror", () => {
        //         log("Argh! Cannot read data from the NFC tag. Try another one?");
        //     });
        //     ndef.addEventListener("reading", ({ message, serialNumber }) => {
        //         log(`> Serial Number: ${serialNumber}`);
        //         document.querySelector('#rfid').value = serialNumber;
        //         log(`> Records: (${message.records.length})`);
        //     });
        // } catch (error) {
        //     log("Argh! " + error);
        // }
    });

    function submitHandler(e) {
        e.stopPropagation();
        console.log("on submit");
        console.warn("TODO: start loading here...");
        // hide button, or show loading, etc
        send({
            command: "download",
            data: {
                url: url.value,
                rfid: rfid.value
            }
        });
        return false;
    }
    async function onbtnclick() {
        send({
            command: "log",
            data: {
                level: "debug",
                message: 'start nfc'
            }
        });
        try {
            const ndef = new NDEFReader();
            await ndef.scan();
            send({
                command: "log",
                data: {
                    level: "debug",
                    message: 'waiting for nfc'
                }
            });
            ndef.addEventListener("readingerror", () => {
                send({
                    command: "log",
                    data: {
                        level: "error",
                        message: "readingerror"
                    }
                });
            });
            ndef.addEventListener("reading", ({ message, serialNumber }) => {
                send({
                    command: "log",
                    data: {
                        level: "debug",
                        message: 'read nfc:' + serialNumber
                    }
                });
                document.querySelector('#rfid').value = serialNumber;
            });
        } catch (error) {
            send({
                command: "log",
                data: {
                    level: "error",
                    message: error + ''
                }
            });
        }
    }
</script>
<div class="container h-100">
    <div class="card row h-100 justify-content-center align-items-center">
        <div class="card-body">
            <form onsubmit="return submitHandler(event)" action="/song/{{.Song.ID}}" method="post">
                {{ .csrfField }}
                <fieldset>
                    <legend>Enter New Song</legend>
                    <div class="mb-3">
                        <label for="url" class="form-label">URL:</label>
                        <input class="form-control" id="url" name="url" type="url" value="{{.Song.URL}}" required
                            placeholder="youtube.com">
                    </div>
                    <div class="mb-3">
                        <label for="rfid" class="form-label">RFID</label>
                        <input class="form-control" id="rfid" name="rfid" type="text" value="{{.Song.RFID}}" required>
                    </div>
                    <button type="submit" class="btn btn-primary"><span
                            class="material-symbols-outlined align-middle">playlist_add</span> Add</button>
                </fieldset>
                <hr>
                <div class="form-group">
                    <small id="lc" class="form-text text-muted">
                        <pre id="log" style="white-space: pre-wrap;"></pre>
                    </small>
                </div>
            </form>
            <button onclick="onbtnclick()" id="scanButton1" class="btn btn-primary btn-lg"><span
                    class="material-symbols-outlined align-middle">nfc</span> NFC</button>
        </div>
    </div>
    <hr>
</div>


<!-- Toast -->
<div class="toast-container">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto">Bootstrap</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            See? Just like this.
        </div>
    </div>
</div>

{{end}}

{{define "player"}}{{end}}