{{template "base" .}}

{{define "title"}}Song List{{end}}

{{define "nav"}}
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/songs"><span class="material-symbols-outlined align-middle">library_music</span>
                <span>Songs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="/rfids"><span class="material-symbols-outlined align-middle">nfc</span>
                <span>Cards</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/config"><span class="material-symbols-outlined align-middle">settings</span>
                <span class="align-middle"></span></a>
        </li>
    </ul>
</div>
{{end}}

{{define "main"}}
<script>
    var loadingModal;
    window.addEventListener('DOMContentLoaded', () => {
        loadingModal = new bootstrap.Modal(document.getElementById("loading_modal"), {});
        if (!("NDEFReader" in window)) {
            console.log("Web NFC is not available. Use Chrome on Android.");
        }

        // TODO: when scan, highlight row
        try {
            const ndef = new NDEFReader();
            ndef.scan();
            ndef.addEventListener("readingerror", () => {
                console.log("Argh! Cannot read data from the NFC tag. Try another one?");
            });
            ndef.addEventListener("reading", ({ message, serialNumber }) => {
                selectByRFID(serialNumber)
            });
        } catch (error) {
            console.log("Argh! " + error);
        }
    });

    function deleteSong(e, rfid, song_id) {
        if (!confirm("are you sure?")) {
            return;
        }
        loadingModal.show();
        fetch('/rfid/' + rfid + '/' + song_id, { method: 'DELETE' })
            .then(async response => {
                window.location.reload();
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    }

    function selectByRFID(rfid) {
        rfid = rfid.replaceAll(":", "")
        console.log(`> Serial Number: ${rfid}`);
        var r = document.querySelectorAll("tr.active");
        for (let i = 0; i < r.length; i++) {
            var el = r[i];
            if (el) {
                el.classList.remove("active");
            }
        }

        var el = document.getElementById(rfid)
        if (el){
            el.scrollIntoView();
            el.classList.add("active");
        }
    }

</script>


<div class="container">
    <table class="table table-striped table-hover" style="margin-bottom: 170px;">
        <thead>
            <tr>
                <td>Thumb</td>
                <td>Title</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody>
            {{range $rfid, $ss := .Rfids}}
            {{range $s := $ss}}
            <tr id="{{$rfid}}" data-songid="{{$s.ID}}">
                <td class="align-middle"><img src="{{$s.Thumbnail}}" style="height: 50px;"></td>
                <td>{{$s.Title}}</td>
                <td class="align-middle"><button onClick="deleteSong(event, '{{$rfid}}', '{{$s.ID}}')"
                        class="btn btn-outline-danger" href="#"><span
                            class="material-symbols-outlined align-middle">delete
                        </span></button></td>
            </tr>
            {{end}}
            {{end}}
        </tbody>
    </table>
</div>

<div id="loading_modal" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "player"}}
{{if .CurrentSong}}
<style>
    #player {
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px -6px 13px 0px lightgrey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
</style>
<div id="player">
    <img id="player_thumb" src="{{.CurrentSong.Thumbnail}}" style="height: 50px;">
    <span id="player_title" style="margin-left: 6px;">{{.CurrentSong.Title}}</span>
    <button id="play_btn" class="btn btn-primary" {{if .Player.Playing}}hidden{{end}}
        onClick="wsplay(event, '{{.CurrentSong.ID}}')"><span class="material-symbols-outlined align-middle">
            play_circle
        </span></button>
    <button id="stop_btn" class="btn btn-primary" {{if not .Player.Playing}}hidden{{end}} onclick="wsstop()"><span
            class="material-symbols-outlined align-middle">
            pause_circle
        </span></button>
</div>
{{end}}
{{end}}