{{template "base" .}}

{{define "title"}}Song List{{end}}

{{define "nav"}}
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="#"><span
                    class="material-symbols-outlined align-middle">library_music</span> <span>Songs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/config"><span class="material-symbols-outlined align-middle">settings</span>
                <span class="align-middle"></span></a>
        </li>
    </ul>
</div>
{{end}}

{{define "main"}}
<script>
    window.addEventListener('DOMContentLoaded', () => {
        if (!("NDEFReader" in window)) {
            console.log("Web NFC is not available. Use Chrome on Android.");
        }
        try {
            const ndef = new NDEFReader();
            ndef.scan();
            ndef.addEventListener("readingerror", () => {
                console.log("Argh! Cannot read data from the NFC tag. Try another one?");
            });
            ndef.addEventListener("reading", ({ message, serialNumber }) => {
                serialNumber = serialNumber.replaceAll(":", "")
                console.log(`> Serial Number: ${serialNumber}`);
                var r = document.querySelectorAll("tr");
                for (let i = 0; i < r.length; i++) {
                    var el = r.length[i];
                    if (el) {
                        el.classList.remove("active");
                    }
                }
                var el = document.getElementById(serialNumber)

                el.scrollIntoView();
                el.classList.add("active");
                console.log(`> Records: (${message.records.length})`);
            });
        } catch (error) {
            console.log("Argh! " + error);
        }
    });
</script>
<div class="container">
    <a class="btn btn-primary" href="/song/new"><span class="material-symbols-outlined align-middle">
            add_circle
        </span> New</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Thumb</td>
                <td>Title</td>
                <td>Edit</td>
                <td>Print</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{range $index, $s := .Songs}}
            <tr id="{{$s.RFID}}">
                <td class="align-middle"><a href="/song/{{$s.ID}}/play_video"><img src="{{$s.Thumbnail}}"
                            style="height: 50px;"></a></td>
                <td><a href="/song/{{$s.ID}}/play">{{$s.Title}}</a></td>
                <td class="align-middle"><a class="btn btn-secondary" href="/song/{{$s.ID}}"><span
                            class="material-symbols-outlined align-middle">
                            edit
                        </span></a></td>
                <td class="align-middle"><a class="btn btn-secondary" href="/song/{{$s.ID}}/print"><span
                            class="material-symbols-outlined align-middle">
                            print
                        </span></a></td>
                <td class="align-middle"><a class="btn btn-outline-danger" href="/song/{{$s.ID}}/delete"
                        onclick="return confirm('Are you sure?')"><span
                            class="material-symbols-outlined align-middle">delete
                        </span></a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}

{{define "player"}}
{{if .CurrentSong}}
<script>
    function play() {
        fetch('/song/{{.CurrentSong.ID}}/play')
        play_btn.setAttribute("hidden", null)
        stop_btn.removeAttribute("hidden", null)
    }
    function stop() {
        fetch('/song/{{.CurrentSong.ID}}/stop')
        play_btn.removeAttribute("hidden", null)
        stop_btn.setAttribute("hidden", null)
    }
</script>
<style>
    #palyer {
        height: 70px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0px -6px 13px 0px lightgrey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
</style>
<div id="palyer">
    <img src="{{.CurrentSong.Thumbnail}}" style="height: 50px;">
    <span style="margin-left: 6px;">{{.CurrentSong.Title}}</span>
    <button id="play_btn" class="btn btn-primary" {{if .Player.Playing}}hidden{{end}} onclick="play()"><span
            class="material-symbols-outlined align-middle">
            play_circle
        </span></button>
    <button id="stop_btn" class="btn btn-primary" {{if not .Player.Playing}}hidden{{end}} onclick="stop()"><span
            class="material-symbols-outlined align-middle">
            pause_circle
        </span></button>
</div>
{{end}}
{{end}}