{{template "base" .}}

{{define "title"}}<h1>🎵Songs!🎵 🤩</h1>{{end}}

{{define "nav"}}
<ul class="tab tab-block">
    <li class="tab-item active">
        <a href="#">Songs</a>
    </li>
    <li class="tab-item">
        <a href="/player">Player</a>
    </li>
    <li class="tab-item">
        <a href="/config">Config</a>
    </li>
</ul>
{{end}}

{{define "main"}}
<div class="container">
    <a class="btn btn-primary" href="/song/new"><i class="icon icon-plus"></i> New</a>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <!-- <td>ID</td> -->
                <td>RFID</td>
                <td>Title</td>
                <td>URL</td>
                <td>Edit</td>
                <td>&nbsp;</td>
                <td>Delete</td>
                <td>&nbsp;</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {{range $index, $s := .Songs}}
            <tr>
                <!-- <td>{{$s.ID}}</td> -->
                <td>{{$s.RFID}}</td>
                <td>{{$s.Title}}</td>
                <td><a href="{{$s.URL}}" target="_blank">{{$s.URL}}</a></td>
                <td><a  class="btn btn-secondary" href="/song/{{$s.ID}}"><i class="icon icon-edit"></i></a></td>
                <td>&nbsp;</td>
                <td><a class="btn btn-primary" href="/song/{{$s.ID}}/play">▶️</a></td>
                <td>&nbsp;</td>
                <td><a class="icon icon-delete" href="/song/{{$s.ID}}/delete" onclick="return confirm('Are you sure?')">&nbsp;</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{end}}