{{template "base" .}}

{{define "title"}}{{.Song.Title}}{{end}}

{{define "nav"}}
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/songs"><span class="material-symbols-outlined align-middle">library_music</span>
                <span>Songs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/config"><span class="material-symbols-outlined align-middle">settings</span>
                <span class="align-middle"></span></a>
        </li>
    </ul>
</div>
{{end}}

{{define "main"}}
<style>
    .bd-example-modal-lg .modal-dialog {
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-example-modal-lg .modal-dialog .modal-content {
        background-color: transparent;
        border: none;
    }
</style>
<h1>{{.Song.Title}}</h1>
<script>
    var loadingModal;
    // Add a global error event listener early on in the page load, to help ensure that browsers
    // which don't support specific functionality still end up displaying a meaningful message.
    window.addEventListener('error', function (error) {
        send({
            command: "log",
            data: {
                level: "error",
                message: error + ""
            }
        });
        error.preventDefault();
    });
    var ChromeSamples = {
        log: function () {
            var line = Array.prototype.slice.call(arguments).map(function (argument) {
                return typeof argument === 'string' ? argument : JSON.stringify(argument);
            }).join(' ');
            send({
                command: "log",
                data: {
                    level: "info",
                    message: line
                }
            });
            document.querySelector('#log').textContent += line + '\n';
        },
        clearLog: function () {
            document.querySelector('#log').textContent = '';
        },
        setContent: function (newContent) {
            var content = document.querySelector('#content');
            while (content.hasChildNodes()) {
                content.removeChild(content.lastChild);
            }
            content.appendChild(newContent);
        }
    };
    if (/Chrome\/(\d+\.\d+.\d+.\d+)/.test(navigator.userAgent)) {
        // Let's log a warning if the sample is not supposed to execute on this version of Chrome.
        if (89 > parseInt(RegExp.$1)) {
            ChromeSamples.log('Warning! Keep in mind this sample has been tested with Chrome ' + 89 + '.');
        }
    }
    log = ChromeSamples.log;
    window.addEventListener("DOMContentLoaded", async () => {
        loadingModal = new bootstrap.Modal(document.getElementById("loading_modal"), {});

        if (!("NDEFReader" in window)) {
            ChromeSamples.log("Web NFC is not available. Use Chrome on Android.");
            return
        }
    });

    function submitHandler(e, form) {
        loadingModal.show();
        return true;
    }
    var nftStarted = false;
    async function onbtnclick() {
        if (nftStarted) {
            return;
        }
        nftStarted = true;
        send({
            command: "log",
            data: {
                level: "debug",
                message: 'start nfc'
            }
        });
        try {
            const ndef = new NDEFReader();
            await ndef.scan();
            send({
                command: "log",
                data: {
                    level: "debug",
                    message: 'waiting for nfc'
                }
            });
            ndef.addEventListener("readingerror", () => {
                send({
                    command: "log",
                    data: {
                        level: "error",
                        message: "readingerror"
                    }
                });
            });
            ndef.addEventListener("reading", ({ message, serialNumber }) => {
                send({
                    command: "log",
                    data: {
                        level: "debug",
                        message: 'read nfc:' + serialNumber
                    }
                });
                document.querySelector('#rfid').value = serialNumber;
            });
        } catch (error) {
            send({
                command: "log",
                data: {
                    level: "error",
                    message: error + ''
                }
            });
        }
    }
</script>
<div class="container h-100">
    <div class="card row h-100 justify-content-center align-items-center">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Youtube</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form enctype="multipart/form-data" action="/song/{{.Song.ID}}" method="post"
                        onsubmit="submitHandler(event,this)">
                        {{ .csrfField }}
                        <fieldset>
                            <input type="hidden" name="type" value="download" />
                            <legend>Enter New Song</legend>
                            <div class="mb-3">
                                <label for="url" class="form-label">URL:</label>
                                <div class="input-group mb-3">
                                    <!-- Note: url input not type=url because some "share" links add title. Title is filtered out on backend -->
                                    <input class="form-control" id="url" name="url" type="text" value="{{.Song.URL}}" placeholder="youtube.com" required>
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" name="force" value="true"
                                            aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <div id="emailHelp" class="form-text">check box to force re-download</div>
                            </div>
                            <div class="mb-3">
                                <label for="rfid" class="form-label">RFID (optional)</label>
                                <input onclick="onbtnclick()" class="form-control" id="rfid" name="rfid" type="text"
                                    value="{{.Song.RFID}}">
                            </div>
                            <button type="submit" class="btn btn-primary"><span
                                    class="material-symbols-outlined align-middle">playlist_add</span> Add</button>
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <small id="lc" class="form-text text-muted">
                                <pre id="log" style="white-space: pre-wrap;"></pre>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading_modal" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false"
    tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>


<!-- Toast -->
<div class="toast-container">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Bootstrap</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            See? Just like this.
        </div>
    </div>
</div>

{{end}}

{{define "player"}}{{end}}