{{template "base" .}}

{{define "title"}}{{.Song.Title}}{{end}}

{{define "nav"}}
<div class="container-fluid">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/songs"><span
                    class="material-symbols-outlined align-middle">library_music</span> <span>Songs</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#"><span class="material-symbols-outlined align-middle">
                    smart_display
                </span><span class="align-middle">Player</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/config"><span class="material-symbols-outlined align-middle">settings</span>
                <span class="align-middle">Config</span></a>
        </li>
    </ul>
</div>
{{end}}

{{define "main"}}
<script>
    function play(){
        fetch('/song/{{.Song.ID}}/play')
        play_btn.classList.add("disabled")
        stop_btn.classList.remove("disabled")
    }
    function stop() {
        fetch('/song/{{.Song.ID}}/stop')
        play_btn.classList.remove("disabled")
        stop_btn.classList.add("disabled")
    }
</script>

<h1>{{.Song.Title}}</h1>
<button id="play_btn" class="btn btn-primary {{if .Player.Playing}}disabled{{end}}" onclick="play()"><span class="material-symbols-outlined align-middle">
    play_circle
</span></button>
<button id="stop_btn" class="btn btn-primary {{if not .Player.Playing}}disabled{{end}}" onclick="stop()"><span class="material-symbols-outlined align-middle">
    pause_circle
</span></button>

<!--
    TODO: 
        onchange call volume change (needs created)
        set init to config (needs passed in)

    <input class="slider" type="range" min="0" max="100" value="50"> -->

{{end}}